*{
    margin: 0;
    padding: 0;
}

/*Header First*/
.header-first{
    background-color: #164979;
    font-family: 'Share Tech Mono', monospace;
}
.first-header-title{
    display: inline-flex;
    font-size: 60px;
    text-decoration: none;
    color: snow;
    text-transform: uppercase;
}
.header-first img{
    margin: 10px;
    height: 50px;
    width: 50px;
}

/*Header Second*/
.header-second{
    background-color: #0e273f;
}
.second-header-list{
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.second-header-item{
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
}
.second-header-item-link{   
    text-decoration: none;
    color: snow;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
}
.second-header-item-link:hover{
    color: gold;
    font-weight: 400;
}
#current-page-item{
    background-color: gold;
}
#current-page-item:hover{
    background-color: #0e273f;
}
#current-page-item a{
    color: black;
}
#current-page-item a:hover{
    color: gold;
}

/* Body */
.body-title{
    text-transform: uppercase;
    margin: 30px;
    text-align: center;
    font-size:  50px;
    font-family: 'Share Tech Mono', monospace;
}
.body-text{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body hr{
    margin-left: 15%;
    margin-right: 15%;
}
/*body images*/
.body-images{
    display: flex;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 45px;
}
.image-body{
    max-width: 30%;
    margin: auto;
    transition: 0.55s;
}
.image-body:hover{
    max-width: 40%;
    margin: auto;
}
/* Footer */
.page-footer{
    background-color: #050f18;
}
.footer-primary{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.footer-primary-heading{
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(197, 197, 197);
    margin-bottom: 10px;
}
.f-p-l-fill{
    color: rgb(197, 197, 197);
}
.footer-info{
    color: rgb(197, 197, 197);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.contact-link{
    color: red;
    text-decoration: none;

}
.contact-link:hover{
    text-decoration: underline;
}
