.header-first{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
}
.h-f-section{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content:space-between;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;

    text-align: center;

    background-color: #164979;
}
.header-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;

    color: snow;
    font-family: 'Share Tech Mono', monospace;
}
.h-f-section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-subtitle{
    margin-top: 30px;
    margin-bottom: 20px;
    color:gold;
    text-transform:uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.subtitle-line{
    margin: 0;
    width: 290px;
    height: 1.5px;
    border: none;
    background-color: gold;
    margin-bottom: 0;
}
.h-f-item:nth-of-type(3){
    opacity: 0;
}
.header-second{
    background-color: #0e273f;
    padding-top: 5px;
    padding-bottom: 5px;
}
.second-header-list{
    width: 500px;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
}
.s-h-item-link{
    text-decoration: none;
    color: snow;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;

    transition: 0.1s;
}
.s-h-item-link:hover{
    color: gold;
    font-weight: 400;
}
/* MAIN */
.wrapper{
    width: 83vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}
.section-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
    margin-top: 23px;
    margin-bottom: 20px;
    letter-spacing: 2.5px;
    color: #0e273f;
    font-family: 'Share Tech Mono', monospace;

}
.section-subtitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.section-subtitle::after{
    content: "";
    width: 100px;
    height: 3px;
    display: block;

    background-color: #0e273f;

    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
.services-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.service-item{
    border: 1px solid #0e273f;
    border-radius: 14px;
    width: 22%;
    transition: 0.5s;
}
.service-item:hover{
    width: 30%;
}
.item-title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 20px;
    display: block;
    padding-top: 15px;
    
}
.item-title::after{
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    height: 4px;
    background-color: #0e273f;
    margin-top: 15px;
}
.price{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.price::before{
    content: "from $";
}
.item-desc{
    text-align: center;

}
.buy-button{
    display: block;
    background-color:gray;
    color: #0e273f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;

    transition: 0.2s;
}
.buy-button:hover{
    background-color: #0e273f;
    color: aliceblue;

}
/* FORM */
.form{
    background-color: #0e273f;
    padding-bottom: 30px;
}

.container{
    width: 444px;
    height: 584px;
    margin-right: auto;
    margin-left: auto;

    padding-left: 60px;
    padding-right: 60px;
    padding-top: 31px;
    
    background-color: #fff;

    position: relative;
    
    display: block;
    background-color: #0e273f;

}
.section-title-2, 
.section-subtitle-2{
    color: snow;
}
.form-log-in,
.terms-conditions-link{
    text-align: left;
    font-family: Ubuntu;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    transition: 0.1s ease-in-out;
    color: #3CB878;
}
.form-log-in:hover,
.terms-conditions-link:hover{
    color: #01813F;
    text-decoration: underline;
}
.form-header-button{
    width: 160px;
    height: 48px;
    background: #305DB8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.2s ease-in-out;
}
.form-header-button:last-child{
    background: #DF4A32;
}
.form-header-button:hover{
    background: #022263;
}
.form-header-button:last-child:hover{
    background: #AB1F09;
}
.button-text::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 28px;
    
    border: none;
    background: #0A162F;
    opacity: 0.1;

    position: absolute;
    left: 49px;
    top: 10px;
}
.button-text{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-right: 19px;

    color: #FFFFFF;
}
.button-text-2{
    margin-right: 27px;
}
.button-img{
    margin-left: 13px;
}
.button-img-2{
    margin-left: 7px;
}

.sign-up-form{
    margin-top: 17px;
}
.label-input{
    width: 95%;
    height: 46px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    transition: 0.2s ease;
    padding-left: 19px;
}


.label-input-last{
    margin-bottom: 12px;
}
.label-input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.terms-checkbox{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 14px;

    color: #eeeeee;
}
.create-account-button{
    width: 280px;
    height: 46px;
    background:#050c1a;
    border-radius: 4px;
    border: none;
    display: block;

    margin-right: auto;
    margin-left: auto;

    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    font-family: Ubuntu;

    color: #FFFFFF;

    margin-bottom: 38px;
    margin-top: 20px;
    transition: 0.2s ease-in-out;

    cursor: pointer;
}
.create-account-button:hover{
    background: #01813F;
    border-radius: 10px;


}
/* .page-footer{
    height: 74px;
} */
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked){
    display: none;
}
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;

    left: 0px;
    top: 0px;

    width: 20px;
    height: 20px;

    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 2.4px;
    top: 4px;
    width: 16px;
    height: 9px;
    border-radius: 1px;
    border-left: 2.5px solid #dd0707;
    border-bottom: 2.5px solid #ce0202;
    transform: rotate(-50deg);
}
input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}
/* FOOTER */

.page-footer{
    background-color: #050f18;
}
.footer-primary{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.footer-primary-heading{
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(197, 197, 197);
    margin-bottom: 10px;
}
.f-p-l-fill{
    color: rgb(197, 197, 197);
}
.footer-info{
    color: rgb(197, 197, 197);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.contact-link{
    color: red;
    text-decoration: none;

}
.contact-link:hover{
    text-decoration: underline;
} 