*{
    box-sizing: border-box;
}

/* HEADER */

.header-first{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
}
.h-f-section{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content:space-between;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;

    text-align: center;

    background-color: #164979;
}
.header-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;

    color: snow;
    font-family: 'Share Tech Mono', monospace;
}
.h-f-section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-subtitle{
    margin-top: 30px;
    margin-bottom: 20px;
    color:gold;
    text-transform:uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.subtitle-line{
    margin: 0;
    width: 290px;
    height: 1.5px;
    border: none;
    background-color: gold;
    margin-bottom: 0;
}
.h-f-item:nth-of-type(3){
    opacity: 0;
}
.header-second{
    background-color: #0e273f;
    padding-top: 5px;
    padding-bottom: 5px;
}
.second-header-list{
    width: 500px;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
}
.s-h-item-link{
    text-decoration: none;
    color: snow;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;

    transition: 0.1s;
}
.s-h-item-link:hover{
    color: gold;
    font-weight: 400;
}

/* MAIN PART */

.section-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
    margin-top: 23px;
    margin-bottom: 20px;
    letter-spacing: 2.5px;
    color: #0e273f;
    font-family: 'Share Tech Mono', monospace;

}
.section-subtitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.section-subtitle::after{
    content: "";
    width: 100px;
    height: 3px;
    display: block;

    background-color: #0e273f;

    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
.services{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.wrapper{
    width: 83vw;
    margin-right: auto;
    margin-left: auto;
}
/* Service Part */

.service-part{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 70px;
}
.service-item{
    width: 30%;
}
.service-item-img{
    display: block;
    width: 100%;
    height: 80px;

    transition: 0.2s;
    object-fit: cover;
}
.service-item-img:hover{
    height: 120px;
}
.services-item-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    margin-top: 22px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.service-item-description{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;

    margin-top: 20px;
}
.service-item-link:nth-of-type(2n){
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background-color: #0e273f;
    color: snow;
    text-decoration: none;
    width: 100px;

    margin-top: 10px;
    margin-left: auto;

    transition: 00.2s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;

}
.service-item-link:nth-of-type(2n):hover{
    width: 130px;
}

/* REVIEWS */
.reviews{
    background-color: #0e273f;
}
.section-title-2{
    color: snow;
    padding-top: 40px;
}
.section-subtitle-2{
    color: snow;
}
.reviews-flex{
    display: flex;
    justify-content: space-between;
}
.reviews-item-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;  
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.4s;
}
.reviews-item-img:hover{
    transform: scale(1.5);
    
}
.reviews-item-title{
    color: rgb(216, 216, 216);
    text-align: center;
    margin-top: 9px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reviews-item-description{
    max-width: 400px;
    text-align: center;
    color:rgb(216, 216, 216);
    margin-bottom: 40px;
}
/* ORDER */

.order-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 60px;
}
.order-img{
    width: 400px;
    height: 160px;
    display: block;
    object-fit:cover;
}
.order-link{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #0e273f;
    transition: 0.2s;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(197, 197, 197);
}
.order-link:hover{
    background-color: #0e273f;
    color: rgb(197, 197, 197);
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Footer */
.page-footer{
    background-color: #050f18;
}
.footer-primary{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.footer-primary-heading{
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(197, 197, 197);
    margin-bottom: 10px;
}
.f-p-l-fill{
    color: rgb(197, 197, 197);
}
.footer-info{
    color: rgb(197, 197, 197);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.contact-link{
    color: red;
    text-decoration: none;

}
.contact-link:hover{
    text-decoration: underline;
} 